# 4.8  Grouping variables task

### 0.1 Importing

In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Import data
path = r"C:\Users\quinn\PycharmProjects\Instacart Basket Analysis 06-30-2021"
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_v2.pkl'))

In [5]:
ords_prods_merge.head().drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis = 1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,196,Soda,77.0,7.0,9.0,2539329,1,1,2,8,NaN,1,0,both,Mid-range product,Regularly busy,Average orders
1,14084,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,2539329,1,1,2,8,NaN,2,0,both,Mid-range product,Regularly busy,Average orders
2,12427,Original Beef Jerky,23.0,19.0,4.4,2539329,1,1,2,8,NaN,3,0,both,Low-range product,Regularly busy,Average orders
3,26088,Aged White Cheddar Popcorn,23.0,19.0,4.7,2539329,1,1,2,8,NaN,4,0,both,Low-range product,Regularly busy,Average orders
4,26405,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,2539329,1,1,2,8,NaN,5,0,both,Low-range product,Regularly busy,Average orders

In [6]:
ords_prods_merge.shape

(32404859, 19)

### 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [9]:
# you can do it different ways buy i went with the first one 
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.457838
2.0              17.277920
3.0              17.170395
4.0              17.811403
5.0              15.215751
6.0              16.439806
7.0              17.225802
8.0              15.340650
9.0              15.895474
10.0             20.197148
11.0             16.170638
12.0             15.887671
13.0             16.583536
14.0             16.773669
15.0             16.165037
16.0             17.665606
17.0             15.694469
18.0             19.310397
19.0             17.177343
20.0             16.473447
21.0             22.902379

### 3.Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### There is a slight diffenece between most of them. That is why it is better to use the whole data if you use some of it the data can change just a bit that can throw you off.

### 4.Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [4]:
# makeing a new column for max order by uiser id and mas order number
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [5]:
#CHecking the data to make sure it is alright
ords_prods_merge.head().drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis = 1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_period_of_day,max_order
0,196,Soda,77.0,7.0,9.0,2539329,1,1,2,8,NaN,1,0,both,Mid-range product,Regularly busy,Average orders,10
1,14084,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,2539329,1,1,2,8,NaN,2,0,both,Mid-range product,Regularly busy,Average orders,10
2,12427,Original Beef Jerky,23.0,19.0,4.4,2539329,1,1,2,8,NaN,3,0,both,Low-range product,Regularly busy,Average orders,10
3,26088,Aged White Cheddar Popcorn,23.0,19.0,4.7,2539329,1,1,2,8,NaN,4,0,both,Low-range product,Regularly busy,Average orders,10
4,26405,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,2539329,1,1,2,8,NaN,5,0,both,Low-range product,Regularly busy,Average orders,10

### 5.The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [6]:
# makeing flags for max order customers
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [7]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [8]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
#checking to make sure everything adds up
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [24]:
# looking at a basic statistic 
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

### 6.The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

In [29]:
# makeing a new column for mean prices by user id and the mean of there prices
ords_prods_merge['mean_prices'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [30]:
#Checking to make sure it looks alright
ords_prods_merge.head(100).drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis = 1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,max_order,loyalty_flag,mean_prices
0,196,Soda,77.0,7.0,9.0,2539329,1,1,2,Average orders,NaN,1,0,both,Mid-range product,Regularly busy,10,New customer,6.367797
1,14084,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,2539329,1,1,2,Average orders,NaN,2,0,both,Mid-range product,Regularly busy,10,New customer,6.367797
2,12427,Original Beef Jerky,23.0,19.0,4.4,2539329,1,1,2,Average orders,NaN,3,0,both,Low-range product,Regularly busy,10,New customer,6.367797
3,26088,Aged White Cheddar Popcorn,23.0,19.0,4.7,2539329,1,1,2,Average orders,NaN,4,0,both,Low-range product,Regularly busy,10,New customer,6.367797
4,26405,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,2539329,1,1,2,Average orders,NaN,5,0,both,Low-range product,Regularly busy,10,New customer,6.367797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,21150,Fire Grilled Steak Bowl,38.0,1.0,5.9,738281,2,4,2,Average orders,8.0,13,0,both,Mid-range product,Regularly busy,14,Regular customer,7.515897
96,47144,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,1673511,2,5,3,Fewest orders,8.0,1,0,both,Mid-range product,Least busy,14,Regular customer,7.515897
97,5322,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,1673511,2,5,3,Fewest orders,8.0,2,0,both,Low-range product,Least busy,14,Regular customer,7.515897
98,17224,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,1673511,2,5,3,Fewest orders,8.0,3,0,both,Low-range product,Least busy,14,Regular customer,7.515897
99,38656,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,1673511,2,5,3,Fewest orders,8.0,4,0,both,Low-range product,Least busy,14,Regular customer,7.515897

In [1]:
# Time to derive new variables
ords_prods_merge.loc[ords_prods_merge['mean_prices'] < 10, 'spending_flag'] = 'Low spender'

NameError: name 'ords_prods_merge' is not defined

In [2]:
ords_prods_merge.loc[ords_prods_merge['mean_prices'] >= 10, 'spending_flag'] = 'High spender'

NameError: name 'ords_prods_merge' is not defined

In [33]:
#Checking to make sure everything adds up
ords_prods_merge['spending_flag'].value_counts(dropna=False)

High spender    31770767
Low spender       634092
Name: spending_flag, dtype: int64

### 7.In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the

In [41]:
#Creating another column for median orders for user id by meadian days since prior order
ords_prods_merge['median_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [42]:
#Checking to make sure it looks alright
ords_prods_merge.head(100).drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis = 1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,busiest_day,max_order,loyalty_flag,mean_prices,spending_flag,median_order,Order_flag
0,196,Soda,77.0,7.0,9.0,2539329,1,1,2,Average orders,...,0,both,Mid-range product,Regularly busy,10,New customer,6.367797,High spender,20.5,Non-frequent customer
1,14084,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5,2539329,1,1,2,Average orders,...,0,both,Mid-range product,Regularly busy,10,New customer,6.367797,High spender,20.5,Non-frequent customer
2,12427,Original Beef Jerky,23.0,19.0,4.4,2539329,1,1,2,Average orders,...,0,both,Low-range product,Regularly busy,10,New customer,6.367797,High spender,20.5,Non-frequent customer
3,26088,Aged White Cheddar Popcorn,23.0,19.0,4.7,2539329,1,1,2,Average orders,...,0,both,Low-range product,Regularly busy,10,New customer,6.367797,High spender,20.5,Non-frequent customer
4,26405,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0,2539329,1,1,2,Average orders,...,0,both,Low-range product,Regularly busy,10,New customer,6.367797,High spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,21150,Fire Grilled Steak Bowl,38.0,1.0,5.9,738281,2,4,2,Average orders,...,0,both,Mid-range product,Regularly busy,14,Regular customer,7.515897,High spender,13.0,Regular customer
96,47144,Unsweetened Original Almond Breeze Almond Milk,91.0,16.0,14.0,1673511,2,5,3,Fewest orders,...,0,both,Mid-range product,Least busy,14,Regular customer,7.515897,High spender,13.0,Regular customer
97,5322,Gluten Free Dark Chocolate Chunk Chewy with a ...,3.0,19.0,2.9,1673511,2,5,3,Fewest orders,...,0,both,Low-range product,Least busy,14,Regular customer,7.515897,High spender,13.0,Regular customer
98,17224,Oats & Honey Gluten Free Granola,3.0,19.0,1.6,1673511,2,5,3,Fewest orders,...,0,both,Low-range product,Least busy,14,Regular customer,7.515897,High spender,13.0,Regular customer
99,38656,Gluten Free Peanut Butter Dark Chocolate Chewy...,3.0,19.0,3.4,1673511,2,5,3,Fewest orders,...,0,both,Low-range product,Least busy,14,Regular customer,7.515897,High spender,13.0,Regular customer

In [37]:
# makeing flags for median orders
ords_prods_merge.loc[ords_prods_merge['median_order'] > 20, 'Order_flag'] = 'Non-frequent customer'

In [38]:
ords_prods_merge.loc[(ords_prods_merge['median_order'] > 10) & (ords_prods_merge['median_order'] <= 20), 'Order_flag'] = 'Regular customer'

In [39]:
ords_prods_merge.loc[ords_prods_merge['median_order'] <= 10, 'Order_flag'] = 'Frequent customer'

In [43]:
#Checking to make sure everything adds up
ords_prods_merge['Order_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: Order_flag, dtype: int64

In [45]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_derived_Grouped.pkl'))